<div class="box">
  <%# TODO: Add project %>
  <%# TODO: JS suggest for issue_id %>
  <p>
    <label for="time_entry[issue_id][]">Issue</label>
    <%= text_field_tag 'time_entry[issue_id][]', '', :size => 6 %>
  </p>
  <p>
    <label for="time_entry[issue_id][]">Date</label>
    <%= text_field_tag 'time_entry[spent_on][]', '', :size => 10, :required => true %><%= calendar_for('time_entry_spent_on') %>
  </p>
  <p>
    <label for="time_entry[issue_id][]">Hours</label>
    <%= text_field_tag 'time_entry[hours][]', '', :size => 6, :required => true %>
  </p>
  <p>
    <label for="time_entry[issue_id][]">Comment</label>
    <%= text_field_tag 'time_entry[comments][]', '', :size => 100 %>
  </p>
  <p>
    <%= select :activity_id, (@activities.collect {|p| [p.name, p.id]}), :required => true %>
  </p>
</div>
