<h2><%= l(:label_bulk_time_entries) %></h2>
<% content_for(:header_tags) do %>
<%= javascript_include_tag 'bulk_time_entry.js', :plugin => 'bulk_time_entry_plugin' %>
<% end %>

<%= form_for :bulk_time_entry, url: {:action => 'save'}, :remote => true, html: {:id => 'time_entries' , :class => 'tabular'} do |f| %>
  <div id="entries">
    <%= render :partial => 'time_entry' %>
  </div>
  <div id="add-entry">
    <%= link_to l(:label_bulk_time_add_another), "#", {:id => "add_entry"} %>
  </div>
  <br/>
  <%= submit_tag l(:button_save) %>
<% end %>

<% html_title l(:label_bulk_time_entries) %>